.main-logo
{
	border-radius: 100px;
	padding: 5%;
}


#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 700px;
  width: 100%;
  padding-bottom: 5%;
}

